.featured-usuario-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza los contenedores */
    margin-left: 50px;
    margin-right: 50px;
}

.featured-usuario-container {
    width: calc(25.33% - 20px); /* Ancho del contenedor (33.33% del ancho total - espacio entre los contenedores) */
    padding: 10px;
    height: 150px; 
    border: 1px solid #1f0404;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-right: 100px; /* Espacio entre los contenedores */
    margin-left: 25px; /* Espacio entre los contenedores */
    background-color: #D9D9D9;
    text-align: center; /* Centrar el texto */
    position: relative; /* Posición relativa para colocar la imagen */
    display: flex; /* Hacer que el contenedor sea un contenedor flexible */
    justify-content: center; /* Centrar horizontalmente el contenido */
    align-items: center;
}

.featured-usuario-container img {
    display: inline-block;
    vertical-align: middle; /* Centra verticalmente la imagen */
    max-width: 100%;
    max-height: 100px;
    margin-right: 10px;
}

.featured-usuario-container p {
    display: inline-block; /* Mostrar el texto en línea */
    vertical-align: middle; /* Alinear verticalmente el texto con la imagen */
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    font-size: 35px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
}

.texto-titulo {
    text-align: left; /* Alinea el texto a la derecha */
    margin-left: 160px;
    margin-top: 50px;
}

.texto-titulo h1 {
    font-size: 50px; /* Tamaño de fuente más grande */
    margin: 0; /* Elimina el margen predeterminado del h1 */
}

.boton-volver{
    margin: 20px; /* Ajusta el valor según sea necesario */
    margin-right: 50px; /* Agrega una sangría de 50px a la derecha */
    margin-left: auto; /* Mueve el elemento hacia la derecha */
    display: flex; /* Para que el elemento ocupe el ancho disponible */
    justify-content: flex-end; /* Alinea el contenido al final del contenedor */
    align-items: center; /* Centra verticalmente el contenido */
}

.boton-eliminar-cuenta{
    margin: 20px; /* Ajusta el valor según sea necesario */
    margin-right: auto; /* Agrega una sangría de 50px a la derecha */
    margin-left: 1470px; /* Mueve el elemento hacia la derecha */
    display: flex; /* Para que el elemento ocupe el ancho disponible */
    justify-content: flex-end; /* Alinea el contenido al final del contenedor */
    align-items: center; /* Centra verticalmente el contenido */
}

.search-delete-btn {
    background-color: #ea6d6d;
    color: rgb(0, 0, 0);
    padding: 10px 56px;
    border-radius: 20px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.search-volver-btn {
    background-color: #f39c12;
    color: rgb(0, 0, 0);
    padding: 10px 56px;
    border-radius: 20px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


.contenedor-botones {
    display: flex;
    justify-content: space-between; /* Alinea los botones a los extremos */
}