/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #8a2f91;
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-left: 50px;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 20px;

}

.close-button {
    cursor: pointer;
}

.product-container-compra{
    background-color: #D9D9D9;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.informacion-compra{
    margin-left: 50px;
    margin-right: 50px;
}

.informacion-compra > div:not(:last-child) {
    border-bottom: 1px solid #000; /* Añade un borde negro en la parte inferior de cada div dentro de .informacion-compra excepto el último */
    padding-bottom: 20px; /* Ajusta el espaciado inferior para separar visualmente los elementos */
} 

.imagen-llegada{
    display: flex;
    border-color: #000;
}

.descripción{
    font-size: 14px;
    margin: 40px
}

.descripción h2{
    font-size: 18px;
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 480px;
    overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
    overflow-x: auto; /* Muestra la barra de desplazamiento horizontal si es necesario */
    margin-top: 20px; /* Añadir espacio entre los productos */
}

.product-compra {
    width: 30%;
    display: flex;
    flex-direction: column; /* Establecer la dirección de la fila como columna */
    align-items: center; /* Alinear los elementos verticalmente */
}

img {
    border-radius: 40px;
    width: 100%; /* Establecer el ancho de la imagen al 100% del contenedor */
    height: 200px; /* Establecer una altura fija para todas las imágenes */
    object-fit: contain; /* Escalar la imagen para que quepa dentro del contenedor sin recortarla */
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Añadir espacio entre la imagen y la descripción */
}

.shipping-info h1{
    margin-top: 25px;
    font-size: 24px;
}

.shipping-info p, h2{
    color: #be0e0e;
    font-size: 26px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.buttons {
    margin-top: 20px;
}

button {
    padding: 18px 28px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    background-color: #f9a825;
    color: #fff;
    border-radius: 35px;
    margin-right: 10px;
}

.button-container {
    text-align: center;
}

.back-button {
    background-color: #f9a825;
}
.inter-final h1{
    font-size: 22px;
   }

.inter-final h2{
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}

.checkout-button {
    background-color: #f9a825;
}

.elegir-pago {
    margin-top: 20px;
}

.centro_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.elegir-pago img {
    justify-content: center;
    height: 100px; /* Establece la altura */
    width: 100px;
    margin: 0 10px; /* Ajusta el margen entre las imágenes */
    border-radius: 100; /* Quita el borde redondeado */
}

.modificar-direc {
    background-color: #f9a825;
    border: none;
    padding: 18px 28px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 35px;
    justify-content: right; /* Mueve el botón hacia la derecha */
}

.modif{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
}

.payment-info {
    display: flex;
    flex-direction: column;
}

.tarjeta-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.tarjeta-info p {
    margin-right: 20px;
}
