
/*  */

.filters-section {
    flex: 30%;
    border: 1px solid #1f0404;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 20px;
    max-width: 230px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Aquí he añadido un recuadro alrededor de los filtros */
}


/* ESTO ES PARA EL RECUADRO DE FONDO DONDE ESTÁN LOS PRODUCTOS */
.resultado-busqueda-container {
    padding: 10px;
    border: 1px solid #1f0404;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    background-color: #D9D9D9;
    text-align: center; /* Centrar los productos */
    overflow-y: scroll;
    height: 800px; /* Establecer una altura máxima para la visualización de los productos */
    width: 1500px; /* Establecer una altura máxima para la visualización de los productos */
}

/* ESTO ES PARA EL BOTON DE FILTROS */


.boton-FiltrosGeneral {
    width: 200px;
    height: 60px;
    border: 3px solid #c585d7;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    }
  
  .boton-FiltrosGeneral:hover {
    background: #830779;
    color: white;
    font-size: 1.5em;
  }



  /* ESTO ES PARA EL TOGGLER DE LOS FILTROS */
  .slider {
    background-color: #ffffff2b;
    border-radius: 100px;
    padding: 1px;
    margin: 10px;
    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    align-items: center;
    position: relative;
    display: block;
    width: 51px;
    height: 29px;
    box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset,
          #22cc3f 0px 0px 0px 0px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
  }
  
  .slider::after {
    content: "";
    display: flex;
    top: 2.3px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #e3e3e3;
    border-radius: 200px;
    position: absolute;
    box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    will-change: left, background-color;
  }
  
  .switch input[type="checkbox"]:checked + .slider {
    box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, #22cc3f 0px 0px 0px 2px inset, #22cc3f 0px 0px 0px 24px inset,
          rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
  }
  
  .switch input[type="checkbox"]:checked + .slider::after {
    left: 24px;
  }
  
  .switch input[type="checkbox"] {
    display: none;
  }




  /* ESTO ES PARA DESACTIVAR FILTROS SI TOGGLER == OFF */
  .disabled {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
