
/*  */

.filters-section {
    flex: 30%;
    border: 1px solid #1f0404;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 20px;
    max-width: 230px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Aquí he añadido un recuadro alrededor de los filtros */
}


/* ESTO ES PARA EL RECUADRO DE FONDO DONDE ESTÁN LOS PRODUCTOS */
.resultado-busqueda-container {
    padding: 10px;
    border: 1px solid #1f0404;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    background-color: #D9D9D9;
    text-align: center; /* Centrar los productos */
    overflow-y: scroll;
    height: 800px; /* Establecer una altura máxima para la visualización de los productos */
    width: 1500px; /* Establecer una altura máxima para la visualización de los productos */
}