.texto-titulo{
    margin-left: 50px;
}

/* RECICLADO DE PRODUCTOS DESTACADOS PQ VALE IGUAL */

.deseados-products-container {
    padding: 10px;
    border: 1px solid #1f0404;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    background-color: #D9D9D9;
    text-align: center; /* Centrar los productos */
}

.deseados-products {
    display: flex;
    flex-wrap: wrap; /* Permite que los productos se ajusten a la siguiente fila */
    justify-content: center; /* Centra los productos horizontalmente */
    gap: 20px; /* Espacio entre los productos */
}

/* Estilo para los productos */
.product-deseado {
    width: calc(33.333% - 20px); /* Ajusta el ancho para tres productos por fila, menos el espacio del gap */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.product-deseado img {
    width: 100%;
    max-width: 200px; 
    height: auto; 
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsión */
    margin-bottom: 10px; 
}


.product-deseado .descripción h1 {
    font-size: 18px; /* Tamaño de fuente para el título del producto */
    margin-bottom: 10px; /* Espacio inferior del título */
}



/* BOTÓN QUITAR */


.product-deseado .descripción button {
    background-color: #f39c12;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}