/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* Estilos para el encabezado */
header {
    background-color: #6a0572;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
}


.img-logo img {
    width: 180px; /* Ajusta el tamaño del logo según tus necesidades */
}


/*Logo, texto y buscador*/
.parte-superior {
    display: flex;
    align-items: center;
}

.parte-superior h1 {
    font-size: 20px;
    margin-right: 20px;
    text-align: left;
}


/* Estilos para el botón de búsqueda */
.barra-busqueda button {
    background-color: #8a2f91;
    color: #ffffff;
    border: none;
    border-radius: 5px; /* Borde redondeado */
    font-size: 20px; /* Tamaño de fuente */
    padding: 8px 15px;
    cursor: pointer;
    margin-left: 20px; /* Espacio entre los elementos */
    margin-right: 10px; /* Espacio entre los elementos */
    width: 470%; /* Hacemos que los elementos ocupen todo el ancho disponible */
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #6a0572;
    flex: 1;
}


/* Aplicamos estilos básicos para los elementos de la barra de búsqueda */
.search-bar input[type="text"]
{
    margin-left: 20px; /* Espacio entre los elementos */
    margin-right: 10px; /* Espacio entre los elementos */
    padding: 8px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Borde redondeado */
    font-size: 16px; /* Tamaño de fuente */
    width: 100%; /* Hacemos que los elementos ocupen todo el ancho disponible */
}

.search-bar select {
    
    width: auto; /* El select se ajusta automáticamente al tamaño de su contenido */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

.search-bar button {
    background-color: #8a2f91;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.grupo-nav-list{
    background-color: #d9d9d9;
    padding: 1px;
    text-align: center;
}
/* Estilos para la lista de navegación */
.nav-list {
    list-style: none;
    display: flex;
    gap: 20px; /* Espacio entre los elementos de la lista */
}

.nav-list li {
    margin: 0;
}

.nav-list a {
    color: #0e4c82;
    text-decoration: none;
    margin: 0 10px;
}

.texto-titulo{
    margin-left: 50px;
}

/* Sección de productos destacados */
.featured-products-container {
    padding: 10px;
    border: 1px solid #1f0404;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    background-color: #D9D9D9;
    text-align: center; /* Centrar los productos */
}
/* Sección de recomendaciones */
.recommended-products-container {
    padding: 10px;
    border: 1px solid #1f0404;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    background-color: #D9D9D9;
    text-align: center; /* Centrar los productos */
}
.resultado-busqueda-container{
    padding: 10px;
    border: 1px solid #1f0404;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    background-color: #D9D9D9;
    text-align: center; /* Centrar los productos */
}

/*Productos*/
.product-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: calc(33% - 100px);
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.product-card p {
    font-size: 14px;
    color: #888888;
}

/* Estilo del enlace*/
.product-card a {
    text-decoration: none; /* Eliminar subrayado */
    color: #333; /* Cambiar el color del texto */
}


/* Estilo del botón de favoritos */
.product-card .favorite-btn {
    border: 3px solid #333; /* Borde del círculo */
    background-color: transparent; /* Fondo transparente */
    position: relative; /* Establecer posición relativa */
    float: left; /* Alinear a la izquierda */
    background-image: url("Imagenes/estrella.png"); /* Fondo de la imagen de la estrella */
    background-size: contain; /* Ajustar el tamaño de la imagen */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    width: 38px; /* Ancho del botón */
    height: 38px; /* Altura del botón */
    margin-top: -15px; /* Ajustar el margen superior para alinear con el borde superior */
    margin-left: -15px; /* Ajustar el margen izquierdo para alinear con el borde izquierdo */
    z-index: 1; /* Asegurar que esté por encima del contenido */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    border-radius: 50px;
}

.product-card .favorite-btn:focus {
    background-color: #ff0000; /* Cambiar color de fondo al ser clickeado */
    border-radius: 50px;
}

.product-card .favorite-btn:hover {
    opacity: 0.5; /* Reducir opacidad al pasar el mouse */
}


/* Pie de página */
footer {
    background-color: #6a0572;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}
.footer-parte-izuierda{
    text-align: left;
}

.info{
    font-size: 24px;
}
.footer-parte-derecha{
    text-align: right;
}

footer a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}

.num-pagina {
    background-color: #d9d9d9;
    padding: 1px;
    text-align: center;
    list-style: none;
    display: flex; /* Corregir: Eliminar '= 1' */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    gap: 20px; /* Espacio entre los elementos de la lista */
}

.boton-historial{
    margin: 20px; /* Ajusta el valor según sea necesario */
    margin-right: 50px; /* Agrega una sangría de 50px a la derecha */
    margin-left: auto; /* Mueve el elemento hacia la derecha */
    display: flex; /* Para que el elemento ocupe el ancho disponible */
    justify-content: flex-end; /* Alinea el contenido al final del contenedor */
    align-items: center; /* Centra verticalmente el contenido */
}

.botones-vendedor{
    margin: 20px; /* Ajusta el valor según sea necesario */
    margin-right: 50px; /* Agrega una sangría de 50px a la derecha */
    margin-left: 50px; /* Mueve el elemento hacia la derecha */
    display: flex; /* Para que el elemento ocupe el ancho disponible */
    justify-content: flex-end; /* Alinea el contenido al final del contenedor */
    align-items: center; /* Centra verticalmente el contenido */
}


.cart-btn{
    margin: 20px; /* Ajusta el valor según sea necesario */
}
.cart-btn,
.search-history-btn {
    background-color: #f39c12;
    color: rgb(0, 0, 0);
    padding: 10px 56px;
    border-radius: 20px;
    font-size: 24px;
    border: none;
    cursor: pointer;
}
