/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ccc;
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    cursor: pointer;
}

.product-container-compra{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

img {
    max-width: 20%;
    height: auto;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shipping-info,
.payment-info {
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.total-cost {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #f9a825;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
}

.back-button {
    background-color: #f9a825;
}

.checkout-button {
    background-color: #f9a825;
}
